.wrapper
  header Todo List
  .inputField
    input(type='text', placeholder='Enter new task')
    button
      i.fas.fa-plus
  ul.todoList
    li
      | Prepare for a FE job 
      span
        i.fa.fa-trash
    li
      | Create a new porfolio site 
      span
        i.fa.fa-trash
    li
      | Complete homework 
      span
        i.fa.fa-trash
    li
      | Hang out w V. 
      span
        i.fa.fa-trash
    li
      | Learn Bootstrap Traversy Media 
      span
        i.fa.fa-trash
    li
      | Jonas Doms and Events 
      span
        i.fa.fa-trash
  .footer
    span You have 5 pending tasks.
    button Clear All
