doctype html
html(lang='en')
    head
        title Task Management App
        link(rel='stylesheet', href='/static/main.css')
        //- link(rel='stylesheet', href='/static/newCS.css')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
        link(href='https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap' rel='stylesheet')
    body 
        div.wrapper
            h1.logo Task Management App

            block number1